<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
	</bean>
    
	<mvc:interceptors>
		<bean class="shoppingmall.interceptor.DBInterceptor">
			<property name="factory" ref="sqlSessionFactory"/>
			<property name="cache" ref="cache"/>
		</bean>
	</mvc:interceptors>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="maxActive">
			<value>1500</value>
		</property>
		<property name="minIdle">
			<value>1</value>
		</property>
                <property name="maxIdle">
			<value>5</value>
		</property>
                <property name="maxWait">
			<value>3000</value>
		</property>
                <property name="initialSize">
			<value>50</value>
		</property>
                <property name="testOnBorrow">
			<value>true</value>
		</property>
		<property name="validationQuery">
			<value>select 1</value>
		</property>
                <property name="testWhileIdle">
			<value>true</value>
		</property>
		<property name="minEvictableIdleTimeMillis">
			<value>3600000</value>
		</property>
		<property name="removeAbandoned">
			<value>true</value>
		</property>  
         	<property name="removeAbandonedTimeout">
			<value>180</value>
		</property>
		<property name="timeBetweenEvictionRunsMillis">
			<value>10000</value>
		</property>
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>${shoppingmall.url}?useUnicode=true&amp;characterEncoding=utf-8</value>
		</property>
		<property name="username">
			<value>${shoppingmall.user}</value>
		</property>
		<property name="password">
			<value>${shoppingmall.passwd}</value>
		</property>
		<property name="defaultAutoCommit">
			<value>false</value>
		</property>
	</bean>
	
  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"> 
     <!--dataSource属性指定要用到的连接池--> 
     <property name="dataSource" ref="dataSource"/> 
     <!--configLocation属性指定mybatis的核心配置文件--> 
     <property name="configLocation" value="classpath:Configuration.xml" /> 
  </bean>
  
  <bean id="cache" class="shoppingmall.cache.Cache" init-method="init">
      <property name="factory" ref="sqlSessionFactory" />
      <property name="mc" ref="memCacheClient" />
  </bean>
  
  <bean id="memCacheClient" class="net.spy.memcached.spring.MemcachedClientFactoryBean">
    <property name="servers" value="${shoppingmall.memcache.url}"/>
    <property name="protocol" value="BINARY"/>
    <property name="transcoder">
      <bean class="net.spy.memcached.transcoders.SerializingTranscoder">
        <property name="compressionThreshold" value="1024"/>
      </bean>
    </property>
    <property name="opTimeout" value="1000"/>
    <property name="timeoutExceptionThreshold" value="1998"/>
    <property name="hashAlg" value="KETAMA_HASH"/>
    <property name="locatorType" value="CONSISTENT"/> 
    <property name="failureMode" value="Redistribute"/>
    <property name="useNagleAlgorithm" value="false"/>
  </bean>

</beans>